body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  margin-bottom: 20px;
  font-weight:bold;
}

.poll__answer {
  margin-right: 3px;
} /* только для варианта 1 добавления элемента */

.answer__title {
  margin: 10px 0;
}